body {
    font-family: 'Raleway' , sans-serif; 
    max-width: 1200px;
    margin: auto;
}

header {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

#logo {
    margin-right: auto;
}

nav {
    display: flex;
}

.navs{
    margin: 20px;
    text-decoration: none;
}

.sign-up {
    color: #0065FC;
    font-weight: bold; 
    margin: 20px;
}

#searchbar {
    width: 270px;
    height: 30px;
    display: flex;
    font-weight: bold;
    font-family: 'Raleway' , sans-serif;
    margin-left: 1.5%;
}

#searchbutton {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    font-size: small;
    width: 50px;
    padding: 5px;
}

#searchbutton-mobile {
    background-color: #0065FC;
    color: white;
    border-radius: 10px;
    font-size: small;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: none;
}

#searchspace {
    width: 180px;
    height: 18px;
    display: flex;
    align-items: center;
    font-size: small;
    padding: 5px;
    border-bottom: solid 1px #F2F2F2;
    border-top: solid 1px #F2F2F2;
}

#searchicon {
    background-color: #F2F2F2;
    width: 30px;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.info {
    display: flex;
    margin-left: 1.5%;
}

.info-icon {
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    font-size: x-small;
    margin-right: 10px; 
}

.info-text {
    width: 25%;
    font-size: small;
}

p {
    font-family: 'Raleway' , sans-serif;
    font-size: x-small;
    margin-left: 1.5%; 
}

h3 {
    margin-left: 1.5%;
}

section {
    display: flex;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
    margin-left: 1.5%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Raleway' , sans-serif;
}

#accomodations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: 550px;
    flex-wrap: wrap;
    padding: 5px;
}

#acc-top {
    width: 100%;
    height: 40px;
    margin: 0px 0px 0px 25px;
}

.acc-pic-and-title {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 175px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d8d7d794;
    background-color: white;
}

.accomodation-pics {
    width: 225px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.acc-pic-title {
    width: 225px;
    height: 55px;
    font-family: 'Raleway' , sans-serif;
    font-size: 10px;
    line-height: 17px;
    border-radius: 0px 0px 20px 20px;
    padding-left: 5px;
}

.bottom-accomodations {
    width: 100%;
}

.blue-star {
    color: #0065FC;
}

.grey-star {
    color: #fde7e754;
}

#most-popular {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    height: 560px;
    align-items: center;
    justify-content: space-evenly;
}

#popular-top {
    width: 85%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mos-pic-and-title {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 125px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #d8d7d794;
    background-color: white;
}

.mos-pics {
    height:125px;
    width: 110px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px
}

.mos-title {
    background-color: white;
    width: 215px;
    height: 125px;
    font-family: 'Raleway' , sans-serif;
    font-size: 10px;
    line-height: 25px;
    border-radius: 0px 20px 20px 0px;
    margin-left: 5px;
}

h4 {
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
}

.filters {
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 1.5%;
    margin: 10px;
}

.filt {
    border-radius: 20px;
    border: solid 2px #F2F2F2;
    border-left-style: none; 
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
}

.filter-icons {
    background-color: #DEEBFF;
    border-radius: 20px;
    width: 32px;
    height: 33px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i.f-icons {
    color: #0065FC;
    font-size: medium;
}

a:hover {
    text-decoration: overline;
}

a {
    text-decoration: none;
}

#activities {
    display: flex;
    width: 97%;
    margin-bottom: 25px;
    margin-left: 1.5%;
    justify-content: space-between;
}

.big-picture {
   width: 23%;
   height: 400px;
   display: flex;
   flex-direction: column;
}

.big-pic {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.pic-column {
    width: 23%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-pic {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
}

.small-pics {
    width: 100%;
    height: 200px;
    object-fit:cover;
    border-radius: 20px 20px 0px 0px;
}

.long-pic {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.long-pics {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.act-pic-title {
    width: 100%;
    height: 30px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 5px #d8d7d794;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    height:200px;
    justify-content: space-around;
    font-family: 'Raleway' , sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.foot {
    line-height: 30px;
}

.foot-head {
    margin-left: 0px;
}

@media all and (min-width: 769px) and (max-width: 1100px) {

    #searchbar {
        width: unset;
        justify-content: center;
    }

    #searchbutton {
        display: none;
    }

    #searchbutton-mobile {
        display: flex;
        width: 40px;
    }

    .filters {
        width: 100%;
        justify-content: space-evenly;
    }
    section {
        flex-direction: column-reverse;
        align-items: center;
    }

    #accomodations {
        height: 750px 
    }

    #most-popular {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        height: 200px;
        margin-bottom: 30px;
    }

    #popular-top {
        width: 75%;
        justify-content: center;
    }

    .mos-pic-and-title {
        width: 30%
    }

    #activities {
        flex-wrap: wrap;
    }

    #activities :nth-child(3) {order:2}

    .big-picture {
        width: 45%;
        margin-bottom: 15px;
    }

    .pic-column {
        width: 45%;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 768px) {

    body {
        margin: 0px;
    }

    header {
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px;
        width: unset;
    }

    header :nth-child(3) {order:2}

    nav {
        width: 100%;
        justify-content: space-between;
    }

    #logo {
        width: 150px;
    }

    p {
        font-size: 15px;
        margin-left: 10px;
    }

    #searchbar {
        justify-content: center;
        width: 100%;
        height: 40px;
        margin: 30px 0px;
    }

    #searchicon {
        width: 40px;
        height: 40px;
    }

    #searchspace {
        width: 200px;
        height: 28px;
        display: flex;
        font-size: 18px;
    }

    #searchbutton {
        display: none;
    }

    #searchbutton-mobile {
        display: flex;
        width: 40px;
    }
    
    .filters {
        flex-wrap: wrap;
        height: 220px;
        width: 80%;
        margin: 0px 0px 20px 10px;
        justify-content: flex-start;
    }

    .filt {
        height: 38px;
        width: unset;
        margin: 0px 20px 15px 0px;
        padding-right: 10px;
    }

    .filter-icons {
        width: 40px;
        height: 40px;
    }

    .filters :nth-child(3) { order:4;}

    .info {
        width: 100%;
        font-size: 15px;
        justify-content: center;
    }

    .info-text {
        width: 60%;
    }

    h4 {
        width: 80%;
        margin-bottom: 10px;
    }

    h3 {
        margin-left: 10px;
        width: 90%;
    }

    section {
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #most-popular {
        width: 100%;
        height: 500px;
        margin: 0px;
        border-radius: 0px;
    }

    #accomodations {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 1300px;
        background-color: white;
        padding: 0px;
        margin:20px 0px 50px 0px;
    }

    #acc-top {
        margin: 0px;
    }

    .acc-pic-and-title {
        flex-direction: column;
        width: 85%;
        height: 175px;
        box-shadow: 0px 5px 5px #d8d7d794;
        margin: auto;
    }

    .accomodation-pics {
        width: 100%;
        height: 120px;
    }
    
    .acc-pic-title {
        width: 100%;
        height: 55px;
    }

    #activities {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .big-picture {
        width: 85%;
        height: 180px;
    }

    .big-pic {
        height: 150px;
    }

    .pic-column {
        width: 85%;
        height: 370px;
        margin: 10px 0px 10px 0px;
    }

    .small-pic {
        height: 180px;
    }

    .small-pics {
        height: 150px;
    }

    .long-pic {
        height: 180px;
    }

    .long-pics {
        height: 150px;
    }

    .act-pic-title {
        padding: 0px;
    }

    footer{
        flex-direction: column;
        height: 450px;
        width: 100%;
        margin-top: 25px;
    }

    .foot-head {
        margin: 20px 0px 0px 20px;
    }

    .foot {
        line-height: 30px;
        margin: 20px;
    }
}


