header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-direction: row;
    font-family: 'Raleway' , sans-serif;
}

.navs{
    margin: 20px;
    text-decoration: none;
}

#searchbar {
    border: 3px solid #F2F2F2;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content:space-between;
    font-weight: bold;
    font-family: 'Raleway' , sans-serif;
    align-content: center;
}

#searchbutton {
    background-color: #0065FC;
    color: white;
    border-radius: 10px;
}

#searchspace {
    display: flex;
    justify-content: center;
}

#searchicon {
    background-color: #F2F2F2;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i.info {
    color: #0065FC;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    size: 20px;
}

p {
    font-family: 'Raleway' , sans-serif;
    font-size: x-small; 
}

#section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

#accomodations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 5px;
    width: 60%;
    height: 500px;
    flex-wrap: wrap;
}

.acc-pic-and-title {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 175px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
}

.accomodation-pics {
    width: 225px;
    height: 120px;
}

.acc-pic-title {
    background-color: white;
    width: 225px;
    height: 55px;
    font-family: 'Raleway' , sans-serif;
    font-size: 10px;
    line-height: 17px;
}

.blue-star {
    color: #0065FC;
}

.grey-star {
    color: #F2F2F2;
}

#most-popular {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    align-content: center;
    justify-content: space-around;
}

.mos-pic-and-title {
    display: flex;
    flex-direction: row;
    width: 325px;
    height: 125px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
}

.mos-pics {
    height:125px;
    width: 110px;
}

.mos-title {
    background-color: white;
    width: 215px;
    height: 125px;
    font-family: 'Raleway' , sans-serif;
    font-size: 10px;
    line-height: 25px;
}

h1 {
    color: #0065FC;
}

h2 {
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
    width: 100%;
    height: 20px;
    margin-left: 15px;
}

h3 {
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
}

.filters {
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
}

.filt {
    border-radius: 20px;
    border-color: #F2F2F2;
    border-style: solid;
    width: 250px;
    margin: 15px;
}

a:hover {
    text-decoration: overline;
}

a {
    text-decoration: none;
}

i.filter-icons {
    color: #0065FC;
    font-size: medium;
    background-color: #DEEBFF;
    border: 5px solid #DEEBFF;
    border-radius: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    height:200px;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .filters {
        font-family: 'Raleway' , sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 250px;
    }

    h3 {
        width: 400px;
    }

    #section1 {
        display: flex;
        flex-direction: column-reverse;
        width: 400px;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
        align-content: center;
    }

    #most-popular {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 5px;
        width: 400px;
        height: 500px;
        align-content: center;
        justify-content: space-around;
        margin: 15px;
        align-content: center;
    }

    #accomodations {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 5px;
        width: 400px;
        height: 1500px;
        background-color: white;
    }

    .acc-pic-and-title {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 175px;
        border: 3px solid white;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #888888;
    }

    .accomodation-pics {
        width: 400px;
        height: 120px;
    }
    
    .acc-pic-title {
        background-color: white;
        width: 400px;
        height: 55px;
        font-family: 'Raleway' , sans-serif;
        font-size: 10px;
        line-height: 17px;
    }

    footer{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        height:450px;
        justify-content: space-around;
        font-family: 'Raleway' , sans-serif;
    }
}

